@page "/estados"

<h3>Estados Brasileiros</h3>

<div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
    <div>
        <a class="btn btn-primary" href="/countries/create">Nuevo País</a>
    </div>
    <div class="mx-2">
        <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar país..."
        @bind-value="Filter" />
    </div>
    <div>
        <button type="button" class="btn btn-outline-primary" @onclick="ApplyFilterAsync">Filtrar</button>
        <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync">Limpiar</button>
    </div>
</div>

<Pagination CurrentPage="currentPage"
            TotalPages="totalPages"
            SelectedPage="SelectedPage" />

<div class="mb-3">
    <a class="btn btn-primary btn-sm" href="/estados/cadastro">Nova Estado</a>
</div>

<GenericList MinhaLista="Estados">
    <Body>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th style="width:60px">Cód.</th>
                    <th>Nome</th>
                    <th style="text-align:center">Sigla</th>
                    <th style="text-align:center">Cidades</th>
                    <th style="text-align:center">Bairros</th>
                    <th style="width:220px"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Estados!)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Descricao</td>
                        <td style="text-align:center">@item.Sigla</td>
                        <td style="text-align:center">@item.NumeroCidades</td>
                        <td style="text-align:center">@item.NumeroBairros</td>
                        <td>
                            <a href="/estados/detalhes/@item.Id" class="btn btn-info btn-sm">Detalles</a>
                            <a href="/estados/editar/@item.Id" class="btn btn-sm btn-warning">Editar</a>
                            <button @onclick=@(() => Delete(item)) class="btn btn-sm btn-danger">Excluir</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>